body {
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    color: black;
    background: white;
}

.main {
    display: flex;
    position: relative;
    height: 100%;
}

.detailed-info {
    width: 60%;
}

.flex-item-wrapper {
    position: relative;
    height: 100%;
    border-right: 1px solid #d1d1d1;
    overflow-y: scroll;
}

.flex-item-wrapper.countries {
    width: 40%;
    margin-right: 20px;
    min-width: 500px;
}

.flex-item-wrapper.details {
    width: calc(60% - 20px);
}

.countries-list,
.country-details-container {
    width: 100%;
}

.country-item {
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

.country-item.selected {
    background-color: dimgray;
    color: white;
}

.country-item.selected:hover {
    background-color: dimgray;
    color: white;
}

.country-item:hover {
    cursor: pointer;
}

.country-item:hover {
    background-color: lightgray;
}

.country-details {
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.empty-state {
    margin-top: 60%;
    font-size: 30px;
    color: gray;
    text-align: center;
}

.country-details > span,
.country-details > div > span {
    display: block;
    font-weight: bold;
    line-height: 50px;
    font-size: 17px;
}

.country-details > span:first-child {
    padding-top: 45px;
}

#close-btn {
    font-weight: bold;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: -13px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 17px;
    text-align: center;
    line-height: 37px;
}

#close-btn:hover {
    cursor: pointer;
    background-color: #d2d2d2;
    border-radius: 4px;
}

img {
    display: block;
    width: 65%;
}

img.img-details {
    width: 300px;
    position: absolute;
    top: 100px;
    right: 40px;
    opacity: 0.5;
}

#flag {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 93px;
    right: 0;
}

#detailed-info {
    color: darkgreen;
    font-weight: bold;
    margin-left: 10px;
}

.neighbor-flag {
    width: 50px;
    margin: 0 0 15px 20px;
    display: inline-block;
}

.neighbor-flag:first-child {
    margin-left: 0;
}

.neighbor-flag:hover {
    cursor: pointer;
}

.search {
    width: 97%;
    height: 50px;
    font-size: 17px;
    line-height: 50px;
    border: none;
    padding-left: 10px;
}

.search:focus {
    outline: none;
}

#no-search-results {
    text-align: center;
    color: gray;
}

::placeholder {
    color: gray;
    font-size: 15px;
}

.icon-flag {
    width: 30px;
    display: inline;
    padding-right: 10px;
}

#borders {
    display: inline-block;
}
