body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    color: black;
    background: white;
}

.main {
    display: flex;
    position: relative;
    height: 100%;
}

.detailed-info {
    width: 60%;
}

.flex-item-wrapper {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.countries {
    border-right: 1px solid #d1d1d1;
}

.flex-item-wrapper.countries {
    width: 30%;
    margin-right: 20px;
    min-width: 500px;
}

.flex-item-wrapper.details {
    width: 70%;
    margin-right: 15px;
    margin-top: 15px;
}

.countries-list,
.country-details-container {
    width: 100%;
}

.country-details-container {
    margin-bottom: 60px;
}

.country-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    padding-left: 15px;
}

.country-item.selected {
    font-weight: 700;
    background-color: #4193A6;
    color: white;
}

.country-item.selected:hover {
    background-color: #4193A6;
    color: white;
}

.country-item:hover {
    cursor: pointer;
    background-color: #4193a675;
}

.country-details {
    color: #012840;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.empty-state {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    font-size: 24px;
    color: #686868;
    text-align: center;
}

.country-details > span,
.country-details > div > span {
    display: block;
    font-weight: 400;
    line-height: 50px;
    font-size: 16px;
}

.country-details > span:first-child {
    padding-top: 45px;
}

#close-btn {
    text-align: center;
    font-weight: 600;
    width: 45px;
    display: block;
    margin: 20px auto -55px;
    border: 1px solid #d6d6d6;
    background: #f7f7f7;
    border-radius: 100%;
}

#close-btn:hover {
    cursor: pointer;
    color: white;
    background: #de4f4f;
}

img {
    display: block;
    width: 65%;
}

img.img-details {
    width: 240px;
    min-width: 240px;
}

#flag {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 93px;
    right: 0;
}

#detailed-info {
    font-weight: bold;
    margin-left: 10px;
}

.neighbor-flag {
    width: 50px;
    margin: 0 0 15px 20px;
    display: inline-block;
}

.neighbor-flag:first-child {
    margin-left: 0;
}

.neighbor-flag:hover {
    cursor: pointer;
}

.search {
    font-family: 'Noto Sans JP', sans-serif;
    width: 98%;
    height: 50px;
    position: sticky;
    top: 0;
    font-size: 16px;
    line-height: 50px;
    border: none;
    background: #f8f8f8;
    padding-left: 10px;
}

.search:focus {
    outline: none;
}

#no-search-results {
    text-align: center;
    color: gray;
}

::placeholder {
    color: #686868;
    font-size: 16px;
}

.icon-flag {
    width: 30px;
    display: inline;
    padding-right: 10px;
}

#borders {
    display: inline-block;
}