body {
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    color: black;
    background: white;
}

.main {
    display: flex;
    position: relative;
}

.detailed-info {
    width: 60%;
}

.countries-list {
    width: 40%;
    min-width: 500px;
    min-height: 1000px;
    margin: 0 20px 0 0;
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1);
}

.country-item {
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

.country-item.selected {
    background-color: dimgray;
    color: white;
}

.country-item.selected:hover {
    background-color: dimgray;
    color: white;
}

.country-item:hover {
    cursor: pointer;
}

.country-item:hover {
    background-color: lightgray;
}

.country-details {
    position: sticky;
    padding-bottom: 25px;
    width: 600px;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 13px 0 lightgray;
}
.empty-state {
    position: sticky;
    margin-left: 15%;
    top: 50%;
    min-width: 600px;
    font-size: 30px;
    color: gray;
    text-align: center;
}

.country-details > span {
    display: block;
    line-height: 50px;
    font-size: 17px;
    margin-left: 20px;
}

.country-details > span:first-child {
    padding-top: 45px;
}

#close-btn {
    font-weight: bold;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: -13px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 17px;
    text-align: center;
    line-height: 37px;
}

#close-btn:hover {
    cursor: pointer;
    background-color: #d2d2d2;
    border-radius: 100%;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 65%;
}

#flag {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 93px;
    right: 0;
}

#detailed-info {
    color: darkgreen;
    font-weight: bold;
    margin-left: 10px;
}

.neighbor-flag {
    width: 50px;
    margin-left: 20px;
    display: inline-block;
}

#no-neighbors {
    text-align: center;
    color: dimgray;
    font-size: 20px;
}