.loader {
    font-size: 5px;
    text-indent: -9999em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: #393939;
    background: -moz-linear-gradient(left, #393939 10%, rgba(166, 166, 166, 0) 42%);
    background: -webkit-linear-gradient(left, #393939 10%, rgba(166, 166, 166, 0) 42%);
    background: -o-linear-gradient(left, #393939 10%, rgba(166, 166, 166, 0) 42%);
    background: -ms-linear-gradient(left, #393939 10%, rgba(166, 166, 166, 0) 42%);
    background: linear-gradient(to right, #393939 10%, rgba(166, 166, 166, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 0.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #393939;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#rates-title {
    line-height: 50px;
    font-size: 17px;
    font-weight: bold;
}

.rate-per-currency {
    border: 1px solid #d1d1d1;
    margin-bottom: 15px;
    padding: 15px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 85px;
}

.rate-per-currency:last-child {
    margin-bottom: 0;
}

#rate-value {
    margin-top: 10px;
    font-weight: bold;
}

#error {
    display: block;
    margin-top: 10px;
    color: gray;
}

#currency-name {
    font-weight: bold;
    margin-bottom: 10px;
}

#EUR {
    margin-left: 100px;
}

#USD, #EUR {
    color: gray;
}
